In [1]:
# !pip install pandas==1.3.4
# !pip install sklearn==0.20.1

In [2]:
import pandas as pd
# Regression Tree Algorithm
from sklearn.tree import DecisionTreeRegressor
# Split our data into a training and testing data
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("./labeledDataModified.csv")

In [4]:
df

,ip,datetime,method,request,status,size,referer,browser,detected
0,114.125.221.132,7/1/2019 10:54,GET,/bkd_baru/assets/images/scan_sertifikat/D0001_...,200.0,12133,http://universitas.com/bkd_baru/assets/images/...,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
1,114.125.221.132,7/1/2019 10:54,GET,/bkd_baru/assets/images/scan_sertifikat/D0001_...,200.0,15491,http://universitas.com/bkd_baru/assets/images/...,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
2,114.125.221.132,7/1/2019 10:54,POST,/bkd_baru/assets/images/scan_sertifikat/D0001_...,200.0,16305,http://universitas.com/bkd_baru/assets/images/...,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
3,114.125.221.132,7/1/2019 10:55,GET,/bkd_baru/uwubahon.php HTTP/1.1,404.0,1130,-,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
4,114.125.221.132,7/1/2019 10:55,GET,/bkd_baru/awubahon.php HTTP/1.1,200.0,1735,-,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
...,...,...,...,...,...,...,...,...,...
37688,36.79.254.33,7/27/2019 8:04,GET,/bkd_baru/assets/images/scan_kinerja/D0010__23...,200.0,2565615,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37689,36.79.254.33,7/27/2019 8:05,GET,/bkd_baru/assets/images/scan_penugasan/D0010__...,200.0,3623149,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37690,36.79.254.33,7/27/2019 8:06,GET,/bkd_baru/assets/images/scan_kinerja/D0010__24...,200.0,5627208,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37691,36.79.254.33,7/27/2019 8:06,GET,/bkd_baru/assets/images/scan_kinerja/D0010__24...,200.0,366906,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37692,36.79.254.33,7/27/2019 8:06,GET,/bkd_baru/assets/images/scan_kinerja/D0010__18...,200.0,2853692,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN

In [5]:

df.shape

(37693, 9)

In [6]:
df

,ip,datetime,method,request,status,size,referer,browser,detected
0,114.125.221.132,7/1/2019 10:54,GET,/bkd_baru/assets/images/scan_sertifikat/D0001_...,200.0,12133,http://universitas.com/bkd_baru/assets/images/...,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
1,114.125.221.132,7/1/2019 10:54,GET,/bkd_baru/assets/images/scan_sertifikat/D0001_...,200.0,15491,http://universitas.com/bkd_baru/assets/images/...,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
2,114.125.221.132,7/1/2019 10:54,POST,/bkd_baru/assets/images/scan_sertifikat/D0001_...,200.0,16305,http://universitas.com/bkd_baru/assets/images/...,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
3,114.125.221.132,7/1/2019 10:55,GET,/bkd_baru/uwubahon.php HTTP/1.1,404.0,1130,-,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
4,114.125.221.132,7/1/2019 10:55,GET,/bkd_baru/awubahon.php HTTP/1.1,200.0,1735,-,Mozilla/5.0 (Linux; Android 5.1.1; SM-J111F Bu...,BAHAYA
...,...,...,...,...,...,...,...,...,...
37688,36.79.254.33,7/27/2019 8:04,GET,/bkd_baru/assets/images/scan_kinerja/D0010__23...,200.0,2565615,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37689,36.79.254.33,7/27/2019 8:05,GET,/bkd_baru/assets/images/scan_penugasan/D0010__...,200.0,3623149,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37690,36.79.254.33,7/27/2019 8:06,GET,/bkd_baru/assets/images/scan_kinerja/D0010__24...,200.0,5627208,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37691,36.79.254.33,7/27/2019 8:06,GET,/bkd_baru/assets/images/scan_kinerja/D0010__24...,200.0,366906,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN
37692,36.79.254.33,7/27/2019 8:06,GET,/bkd_baru/assets/images/scan_kinerja/D0010__18...,200.0,2853692,http://universitas.com/bkd_baru/kinerja_dosen/...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AMAN

In [7]:
df.isna().sum()

ip             0
datetime       0
method         6
request      176
status       280
size         280
referer     1126
browser     1126
detected       0
dtype: int64

#PreProcessing replacing with AVG and most frequent values.

In [8]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy="most_frequent")
df = imp.fit_transform(df)

In [9]:
df = pd.DataFrame(df, columns = ['ip','datetime','method','request','status','size','referer','browser','detected'])

In [10]:
df.shape

(37693, 9)

#Converting into Integer Values.

In [11]:
numerical_ix = df.select_dtypes(include=['int64', 'float64']).columns
categorical_ix = df.select_dtypes(include=['object', 'bool']).columns

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
column_trans = ColumnTransformer(
   [('cat', OrdinalEncoder(),categorical_ix),
    ('num', MinMaxScaler(feature_range=(1, 3)), numerical_ix)],
    remainder='drop')
column_trans.fit(df)
# dump(column_trans,"models/column_trans.joblib")
# %timeit joblib.dump(column_trans, 'models/column_trans.pkl', compress=1)
df2 = column_trans.transform(df)
pd.DataFrame(df2)

           0       1    2       3    4       5       6      7    8
0      211.0     0.0  2.0  3684.0  0.0   571.0   678.0   28.0  1.0
1      211.0     0.0  2.0  3683.0  0.0  1388.0   679.0   28.0  1.0
2      211.0     0.0  5.0  3683.0  0.0  1558.0   678.0   28.0  1.0
3      211.0     1.0  2.0  5171.0  9.0   353.0     0.0   28.0  1.0
4      211.0     1.0  2.0  4261.0  0.0  1747.0     0.0   28.0  1.0
...      ...     ...  ...     ...  ...     ...     ...    ...  ...
37688  554.0  2809.0  2.0  1312.0  0.0  4328.0  1163.0  143.0  0.0
37689  554.0  2810.0  2.0  2812.0  0.0  7318.0  1163.0  143.0  0.0
37690  554.0  2811.0  2.0  1317.0  0.0  8899.0  1163.0  143.0  0.0
37691  554.0  2811.0  2.0  1318.0  0.0  7414.0  1163.0  143.0  0.0
37692  554.0  2811.0  2.0  1311.0  0.0  5454.0  1163.0  143.0  0.0

[37693 rows x 9 columns]

In [13]:
df2 = pd.DataFrame(df2)
df2

           0       1    2       3    4       5       6      7    8
0      211.0     0.0  2.0  3684.0  0.0   571.0   678.0   28.0  1.0
1      211.0     0.0  2.0  3683.0  0.0  1388.0   679.0   28.0  1.0
2      211.0     0.0  5.0  3683.0  0.0  1558.0   678.0   28.0  1.0
3      211.0     1.0  2.0  5171.0  9.0   353.0     0.0   28.0  1.0
4      211.0     1.0  2.0  4261.0  0.0  1747.0     0.0   28.0  1.0
...      ...     ...  ...     ...  ...     ...     ...    ...  ...
37688  554.0  2809.0  2.0  1312.0  0.0  4328.0  1163.0  143.0  0.0
37689  554.0  2810.0  2.0  2812.0  0.0  7318.0  1163.0  143.0  0.0
37690  554.0  2811.0  2.0  1317.0  0.0  8899.0  1163.0  143.0  0.0
37691  554.0  2811.0  2.0  1318.0  0.0  7414.0  1163.0  143.0  0.0
37692  554.0  2811.0  2.0  1311.0  0.0  5454.0  1163.0  143.0  0.0

[37693 rows x 9 columns]

## replace nan value into mean value

In [14]:
import numpy as np
df.isna().sum()

mean_value=df2[2].mean()
df2[2].fillna(value=mean_value, inplace=True)

mean_value=df2[3].mean()
df2[3].fillna(value=mean_value, inplace=True)

mean_value=df2[4].mean()
df2[4].fillna(value=mean_value, inplace=True)

mean_value=df2[5].mean()
df2[5].fillna(value=mean_value, inplace=True)
mean_value=df2[6].mean()
df2[6].fillna(value=mean_value, inplace=True)
mean_value=df2[7].mean()
df2[7].fillna(value=mean_value, inplace=True)
mean_value=df2[8].mean()
df2[8].fillna(value=mean_value, inplace=True)
df2.isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [17]:
X=df2[[0,2,3,4,5,6, 7]] #Coloumns included are :- ip, request, Status, size, Referer.
Y=df2[[8]] #Detected coloumn.

In [18]:
X

           0    2       3    4       5       6      7
0      211.0  2.0  3684.0  0.0   571.0   678.0   28.0
1      211.0  2.0  3683.0  0.0  1388.0   679.0   28.0
2      211.0  5.0  3683.0  0.0  1558.0   678.0   28.0
3      211.0  2.0  5171.0  9.0   353.0     0.0   28.0
4      211.0  2.0  4261.0  0.0  1747.0     0.0   28.0
...      ...  ...     ...  ...     ...     ...    ...
37688  554.0  2.0  1312.0  0.0  4328.0  1163.0  143.0
37689  554.0  2.0  2812.0  0.0  7318.0  1163.0  143.0
37690  554.0  2.0  1317.0  0.0  8899.0  1163.0  143.0
37691  554.0  2.0  1318.0  0.0  7414.0  1163.0  143.0
37692  554.0  2.0  1311.0  0.0  5454.0  1163.0  143.0

[37693 rows x 7 columns]

# Training and Testing

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.20, random_state=5)

In [20]:
regression_tree = DecisionTreeRegressor(criterion = "squared_error")

In [21]:
regression_tree.fit(X_train, Y_train.values.ravel())

DecisionTreeRegressor()

In [22]:
print("Train Score is : ",regression_tree.score(X_train, Y_train))
print("Test Score is : ",regression_tree.score(X_test, Y_test))

Train Score is :  1.0
Test Score is :  0.985163197710088

In [23]:

prediction = regression_tree.predict(X_test)
prediction=prediction.reshape(X_test.shape[0],1)
print("$",(prediction - Y_test).abs().mean()*1000)

$ 8    3.581377
dtype: float64

In [24]:
X_test

           0    2       3    4        5       6      7
30258  375.0  2.0  2481.0  1.0   7610.0   184.0  201.0
1151   539.0  2.0  3845.0  5.0      0.0  1119.0  149.0
18299  375.0  2.0  1260.0  0.0   3510.0   647.0  207.0
8114   375.0  5.0   786.0  4.0      0.0   619.0  160.0
9278   375.0  2.0  1250.0  0.0   4768.0   622.0  190.0
...      ...  ...     ...  ...      ...     ...    ...
32498  265.0  2.0  5081.0  0.0   5406.0  1158.0  160.0
27283  375.0  2.0  1459.0  1.0  10508.0  1174.0  190.0
30445  375.0  2.0  4115.0  0.0   1926.0  1151.0  184.0
28967  375.0  2.0  2317.0  1.0   4924.0  1277.0  207.0
4152   603.0  2.0  5255.0  0.0    367.0     0.0  211.0

[7539 rows x 7 columns]

# Save model and predication

In [25]:
import pickle
filename = 'savemodel.sav'
pickle.dump(regression_tree, open(filename, 'wb'))

In [26]:
load_model = pickle.load(open(filename,'rb'))
load_model.predict(X_test)

array([0., 1., 0., ..., 0., 0., 2.])

In [27]:
y_predict = load_model.predict(X_test)

## testing rough work

In [68]:
y_predict = pd.DataFrame(y_predict)
y_predict.columns=["det"]
y_predict

      det
0     0.0
1     1.0
2     0.0
3     0.0
4     0.0
...   ...
7534  0.0
7535  0.0
7536  0.0
7537  0.0
7538  2.0

[7539 rows x 1 columns]

In [74]:
# y_predictString = pd.DataFrame(y_predict.to_numpy(), columns="detected", dtype=pd.StringDtype())
# for i in range(y_predict.shape[0]):
#     if y_predict.values[i]==0:
#         y_predictString[i]="Safe"
#     elif y_predict.values[i]==1:
#         y_predictString="Danger"
#     else: y_predictString="Suspious"
# y_predictString

y_predict.to_csv('labeledData.csv', mode='a', axis=1,header=True)

TypeError: NDFrame.to_csv() got an unexpected keyword argument 'axis'

In [77]:
# y_predict
# X_test
final = pd.concat([X_test, y_predict], axis=1)
final

           0    2       3    4       5       6      7  det
30258  375.0  2.0  2481.0  1.0  7610.0   184.0  201.0  NaN
1151   539.0  2.0  3845.0  5.0     0.0  1119.0  149.0  1.0
18299  375.0  2.0  1260.0  0.0  3510.0   647.0  207.0  NaN
8114   375.0  5.0   786.0  4.0     0.0   619.0  160.0  NaN
9278   375.0  2.0  1250.0  0.0  4768.0   622.0  190.0  NaN
...      ...  ...     ...  ...     ...     ...    ...  ...
7534     NaN  NaN     NaN  NaN     NaN     NaN    NaN  0.0
7535     NaN  NaN     NaN  NaN     NaN     NaN    NaN  0.0
7536     NaN  NaN     NaN  NaN     NaN     NaN    NaN  0.0
7537     NaN  NaN     NaN  NaN     NaN     NaN    NaN  0.0
7538     NaN  NaN     NaN  NaN     NaN     NaN    NaN  2.0

[13585 rows x 8 columns]

In [63]:
# pd.nDarray(
y_predict.to_numpy()

array([0.])